

<div id="transfer-transaction">
  <h4>Transfer </h4>
  <form @submit.prevent="submitTransferForm">
    <div>
      <label for="account_id">From Account</label><br>
      <select v-model="account_id" required class="form-control">
        <% account_names_and_ids.each do |element|  %>
          <option value="<%= element[1] %>"><%= element[0] %></option>
        <% end %>
      </select>
    </div>
    <div>
      <label for="destination_account_id">To Account</label><br>
      <select v-model="destination_account_id" required class="form-control">
        <% account_names_and_ids.each do |element|  %>
          <option value="<%= element[1] %>"><%= element[0] %></option>
        <% end %>
      </select>
    </div>
    <div>
      <input id="destination_account_amount" type="text" v-model="destination_account_amount" hidden />
      <input id="category_id" type="text" v-model="category_id" hidden />
    </div>
    <div>
      <label for="amount">Input Amount</label><br>
      <input id="amount" type="text" v-model="amount" required class="form-control"/>
    </div>
    <div>
      <label for="comment">comment</label><br>
      <input id="comment" type="text" v-model="comment" required class="form-control"/>
    </div>
    <br>
    <button :class="[account_id ? activeClass : '']" type="submit" class="btn btn-warning" onclick=<%=  %>>Add Transaction</button>
  </form>
</div>
