
<div class="row">
  <div class="col-9">
      <%= current_currency %>
      <%= render 'account_card' %>

      <%= render 'transaction_income_form' %>
      <%= render 'transaction_expanse_form' %>
      <%= render 'transaction_transfer_form' %>
      <%= render 'new_account_form' %>
      <%= render 'category_form' %>
      <%= render 'view_categories' %>

  </div>

  <div class="col-3 details">

    <hr>
    <h5>Transactions:</h5>
      <%= render 'transactions' %>


  </div>
</div>

<%= javascript_pack_tag 'home' %>
