<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :account_id %>
    <%= form.select :account_id, account_names_and_ids, {}, { 'class':'form-control' } %>
  </div>

  <div class="field">
    <%= form.label :destination_account_id %>
    <%= form.select :destination_account_id, account_names_and_ids, {}, { 'class':'form-control' } %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, { :class => 'form-control' } %>
  </div>

  <div class="field">
    <%= form.label :destination_account_amount %>
    <%= form.text_field :destination_account_amount, { :class => 'form-control' } %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, { :class => 'form-control' } %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.number_field :category_id, { :class => 'form-control' } %>
  </div>

  <div class="actions">
    <%= form.submit({ :class => 'btn btn-warning'}) %>
  </div>
<% end %>
