<div class="container">
  <hr>
  <%= link_to 'index', static_pages_index_url %>
  <%= link_to 'home', static_pages_home_url %>
  <%= link_to 'about', static_pages_about_url %>

  <%= link_to 'accounts', accounts_url %>
  <%= link_to 'transactions', transactions_url %>
  <%= link_to 'categories', categories_url %>
  <hr>
</div>
