<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @account.title %>
</p>

<p>
  <strong>Value:</strong>
  <%= @account.value %>
</p>

<p>
  <strong>Status:</strong>
  <%= @account.status %>
</p>

<p>
  <strong>Category:</strong>
  <%= @account.category_id %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
